{# templates/circuitslist.html.twig #}

{% extends "front-office/frontlayout.html.twig" %}

{%block sectiontitle %} List of circuits {% endblock %}
{% block sectioncontent %}
    {% if circuitslist is not empty %}
        <p>Here are the programmed circuits available after the {{ "now"|date('d-m-Y') }} :</p>
        <ul>
        {# Loop through list and creeate the list of circuit items. #}
        {% for circuit in circuitslist %}
            {% if circuit.programmations is not empty %}
             {% for programmation in circuit.programmations %}
                 {% if programmation.dateDepart|date('Ymd') < "now"|date('Ymd') %}
                <li>
                    <a href="{{ path('circuitshow', { 'id' : circuit.id }) }}">{{ circuit.description }}</a>
                </li>
                {% endif %}
             {% endfor %}
           {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, you don't have any circuits yet!</p>
    {% endif %}

{% endblock %} {# body #}
