{# templates/programmationslist.html.twig #}

{% extends "front-office/frontlayout.html.twig" %}

{% block sectiontitle %} Programmations List{% endblock %}

{% block sectioncontent %}
    {% if programmationslist is not empty %}
        <h3>Your programmations:</h3>
        <ul>
        {# Loop through list and creeate the list of programmation items. #}
        {% for programmation in programmationslist %}
            <li>
          		{{ programmation.id }} {{ programmation.circuit.description }} le {{ programmation.dateDepart|date('d-m-Y')  }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, you don't have any programmations yet!</p>
    {% endif %}
{% endblock %} {# body #}
