{# templates/sign-in.html.twig #}

{% extends "front-office/frontlayout.html.twig" %}


{% block sectiontitle %} Sign-in {% endblock %}

{% block sectioncontent %}

    <div>
        <form class='form-signin'>
            <div>
                <div>
                    <label class='sr-only' for=login> Login </label>
                    <input id=login class='form-control' required placeholder='Your user login'> </input>
                </div>
                <div>
                    <label class='sr-only' for=password> Password </label>
                    <input id=password class='form-control' type=password required placeholder='Your password'>  </input>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type=submit> Sign-in </button>
        </form>
    <div>
{% endblock %}
