{# templates/sign-in.html.twig #}

{% extends "front-office/frontlayout.html.twig" %}


{% block sectiontitle %} Sign-in {% endblock %}

{% block sectioncontent %}

    <div>
        <form>
            <div>
                <div>
                    <label id=login> Login </label>
                    <input id=login placeholder='Your user login'> </input>
                </div>
                <div>
                    <label id=password> Password </label>
                    <input id=password type=password placeholder='Your password'>  </input>
                </div>
            </div>
            <div>
                <input type=submit />
            </div>
        </form>
    <div>
{% endblock %}
