{# templates/welcome.html.twig #}

{% extends "baselayout.html.twig" %}

{% block body %}
    <section id=goal>
      <div class=container>
          <div class="row text-center"> <h1> Website Goal </h1> </div>
        <p>
           This website aims at providing a web interface to our travel agency.
         </p>
      </div>
    </section>

    <section id=usage>
      <div class=container>
          <div class="row text-center"> <h1> How to use this website ? </h1> </div>
          <p>
              Please click wherever you feel you want to click.
          </p>
      </div>
    </section>

    <section id=news>
      <div class=container>
          <div class="row text-center"> <h1> News </h1> </div>
          <p>
              News about ancient time.
          </p>
      </div>
    </section>

    <section id=tours>
      <div class=container>
          <div class="row text-center"> <h1> Upcoming Tours </h1> </div>
          <!-- permet une consultation des circuits organisés prochainement -->
      </div>
    </section>

{% endblock %} {# body #}
