{# templates/welcome.html.twig #}

{% extends "baselayout.html.twig" %}

{% block body %}

    <div>
        <h1> website goal</h1>
        <p>
            This website aims at providing a web interface to our travel agency.
        </p>
    </div>

    <div>
        <h1> How to use this website ? </h1>
        <p>
            Please click wherever you feel you want to click.
        </p>
    </div>

    <div>
        <h1> News </h1>
        <p>
            News about ancient time.
        </p>
    </div>

    <div>
        <h1> Upcoming Tours </h1>
        <!-- permet une consultation des circuits organisés prochainement -->
    </div>

{% endblock %} {# body #}
