{# templates/welcome.html.twig #}

{% extends "baselayout.html.twig" %}

{% block body %}

<h1> website goal</h1>

<h1> How to use this website ? </h1>

<h1> News </h1>

<h1> Contact </h1>



/*une  partie « Accueil » accessible à tous qui :
            affiche des informations générales : les objectifs du site, son fonctionnement, une rubrique « Actualités » (nouveautés, promotions…) et un lien contact pour joindre l’administrateur. Vous pouvez ajouter toute autre information que vous jugez utile.
            permet une consultation des circuits organisés prochainement
            permet aux collaborateurs de se connecter à l’application (authentification avec un login et un mot de passe)
        une partie « Front Office » consultée par les visiteurs, qui affiche la liste des voyages mis au catalogue, avec le détail de leurs étapes, les dates du voyage, etc.
        une partie « Back Office » réservée aux collaborateurs de l’agence (et à l’administrateur du site) qui affiche des écrans permettant d’ajouter, de modifier et de supprimer des informations : un circuit, ses étapes, une programmation au catalogue…
 */

{% endblock %} {# body #}
