{% extends frontlayout.html.twigg %}

{% block body %}

<!--start of home section-->
<section id="home">
     <div class="container">
          <div class="row">
               <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

                    <div id="myCarousel" class="carousel slide " data-ride="carousel" >
                    <div class="carousel-inner" role="listbox">
                         <div class="item active">
                         <h3>
                              Consectetur adipiscing elit felis dolor felis dolor vitae

                         </h3>
                         <p>
                              Lorem ipsumdolor sitamet, consect adipiscing elit
                              Lorem ipsumdolor sitamet, consect adipiscing elit.
                              Lorem ipsumdolor sitamet, consect adipiscing elit
                              Lorem ipsumdolor sitamet, consect adipiscing elit.

                         </p>
                         </div>
                          <div class="item">
                           <h3>
                              Consectetur adipiscing elit felis dolor felis dolor vitae

                         </h3>
                         <p>
                              Lorem ipsumdolor sitamet, consect adipiscing elit
                              Lorem ipsumdolor sitamet, consect adipiscing elit.
                              Lorem ipsumdolor sitamet, consect adipiscing elit
                              Lorem ipsumdolor sitamet, consect adipiscing elit.

                         </p>
                         </div>


                    </div>
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">
               <p >
                    This line is fixed so you can write anything

               </p>
               <div class="social">
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook" class="btn button-custom btn-custom-one" ><i class="fa fa-facebook "></i></a>
<a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter" class="btn button-custom btn-custom-one" ><i class="fa fa-twitter"></i></a>
<a href="#" data-toggle="tooltip" data-placement="bottom" title="Google-Plus" class="btn button-custom btn-custom-one" ><i class="fa fa-google-plus "></i></a>
<a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin" class="btn button-custom btn-custom-one" ><i class="fa fa-linkedin "></i></a>
<a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest" class="btn button-custom btn-custom-one" ><i class="fa fa-pinterest "></i></a>
<a href="#" data-toggle="tooltip" data-placement="bottom" title="Github" class="btn button-custom btn-custom-one" ><i class="fa fa-github "></i></a>


          </div>
          <a href="#services" class=" btn button-custom btn-custom-two">See Service List </a>

     </div>
     </div>
</section>




<!--end of home section-->

<!--start of service section-->
<section id="services">
<div class="container">
     <div class="row text-center header">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <h3>Our Services</h3>
               <hr>
          </div>
     </div>

     <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
               <div class="service1">
                    <i class="ion-document"></i>
                    <h3>Consectetur tellus nec</h3>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.

               </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
               <div class="service1">
                    <i class="ion-scissors"></i>
                    <h3>Consectetur tellus nec</h3>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.

               </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
               <div class="service1">
                    <i class="ion-clipboard"></i>
                    <h3>Consectetur tellus nec</h3>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.

               </div>
          </div>
     </div>
      <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
               <div class="service1">
                    <i class="ion-calendar"></i>
                    <h3>Consectetur tellus nec</h3>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.

               </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
               <div class="service1">
                    <i class="ion-erlenmeyer-flask"></i>
                    <h3>Consectetur tellus nec</h3>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.

               </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
               <div class="service1">
                    <i class="ion-monitor"></i>
                    <h3>Consectetur tellus nec</h3>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.

               </div>
          </div>
     </div>
      <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
               <div class="service1">
                    <i class="ion-pinpoint"></i>
                    <h3>Consectetur tellus nec</h3>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.

               </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
               <div class="service1">
                    <i class="ion-tshirt-outline"></i>
                    <h3>Consectetur tellus nec</h3>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.

               </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
               <div class="service1">
                    <i class="ion-speedometer"></i>
                    <h3>Consectetur tellus nec</h3>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.

               </div>
          </div>
     </div>
</div>

</section>

<!-- end f service section-->

<!--start of pricing section-->
<section id="pricing">
     <div class="container">
          <div class="row text-center header">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                   <h3>pricing options</h3>
                   <hr>
              </div>
          </div>
          <div class="row text-center pricing-pad">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                   <div class="pricing">
                        <div class="price">
                             <sup>$</sup>
                             99
                             <small>Per Day</small>
                        </div>
                        <div class="type">
                             BASIC
                        </div>
                        <ul>
                             <li><i class="glyphicon glyphicon-print"></i> 30+ Accounts</li>
                             <li><i class="glyphicon glyphicon-time"></i>150+ Projects</li>
                             <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">
                             <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                        </div>
                   </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                   <div class="pricing pricing-popular">
                        <div class="price">
                             <sup>$</sup>
                            199
                            <small>Per Month</small>
                        </div>
                        <div class="type">
                             BASIC
                        </div>
                        <ul>
                             <li><i class="glyphicon glyphicon-print"></i> 30+ Accounts</li>
                             <li><i class="glyphicon glyphicon-time"></i>150+ Projects</li>
                             <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">
                             <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                        </div>
                   </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"> <div class="pricing">
                        <div class="price">
                             <sup>$</sup>
                             249
                             <small>Per Year</small>
                        </div>
                        <div class="type">
                             ADVANCE
                        </div>
                        <ul>
                             <li><i class="glyphicon glyphicon-print"></i> 30+ Accounts</li>
                             <li><i class="glyphicon glyphicon-time"></i>150+ Projects</li>
                             <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">
                             <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                        </div>
                   </div></div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="pricing">
                        <div class="price">
                             <sup>$</sup>
                             599
                             <small>Per Time</small>
                        </div>
                        <div class="type">
                             EXTENDED
                        </div>
                        <ul>
                             <li><i class="glyphicon glyphicon-print"></i> 30+ Accounts</li>
                             <li><i class="glyphicon glyphicon-time"></i>150+ Projects</li>
                             <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">
                             <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                        </div>
                   </div>
              </div>
          </div>
          <div class="row text-center pricing-pad">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                   <div class="pricing">
                        <div class="price">
                             <sup>$</sup>
                             99
                             <small>Per Day</small>
                        </div>
                        <div class="type">
                             SMALL
                        </div>
                        <ul>
                             <li><i class="glyphicon glyphicon-print"></i> 30+ Accounts</li>
                             <li><i class="glyphicon glyphicon-time"></i>150+ Projects</li>
                             <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">
                             <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                        </div>
                   </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                   <div class="pricing pricing-popular">
                        <div class="price">
                             <sup>$</sup>
                            159
                            <small>Per Month</small>
                        </div>
                        <div class="type">
                             MEDIUM
                        </div>
                        <ul>
                             <li><i class="glyphicon glyphicon-print"></i> 30+ Accounts</li>
                             <li><i class="glyphicon glyphicon-time"></i>150+ Projects</li>
                             <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">
                             <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                        </div>
                   </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <div class="pricing">
                        <div class="price">
                             <sup>$</sup>
                             749
                             <small>Per Year</small>
                        </div>
                        <div class="type">
                             ADVANCE
                        </div>
                        <ul>
                             <li><i class="glyphicon glyphicon-print"></i> 30+ Accounts</li>
                             <li><i class="glyphicon glyphicon-time"></i>150+ Projects</li>
                             <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">
                             <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                        </div>
                   </div></div>

          </div>
     </div>
</section>

<!--end of pricing section-->


<!--start of work section-->
<section id="work">
     <div class="container">
          <div class="row text-center header">
               <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <h3>Our works</h3>
                      <hr>
                    </div>
               </div>

               <div class="row text-center">
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                         <div class="caegories">
                              <a href="#" data-filter="*" class=" active btn btn-sm btn-custom-two button-custom">ALL</a>
                              <a href="#" data-filter=".html" class="  btn btn-sm btn-custom-two button-custom">HTML</a>
                              <a href="#" data-filter=".css" class="  btn btn-sm btn-custom-two button-custom">CSS</a>
                              <a href="#" data-filter=".code" class="  btn btn-sm btn-custom-two button-custom">CODE</a>
                              <a href="#" data-filter=".script" class="  btn btn-sm btn-custom-two button-custom">SCRIPT</a>
                         </div>
                    </div>

               </div>

               <div class="row text-center isotope " id="work-div">
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-4 html isotope-item">
                        <div class="work-wrapper">
                             <a class="fancybox" title="title goes here" href="img/portfolio/1.jpg">
                                  <img src="img/portfolio/1.jpg" class="img-responsive img-rounded">
                             </a>
                             <h3>Morbi mollis lectus et ipsum</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-4 html css isotope-item">
                          <div class="work-wrapper">
                             <a class="fancybox" title="title goes here" href="img/portfolio/2.jpg">
                                  <img src="img/portfolio/2.jpg" class="img-responsive img-rounded">
                             </a>
                             <h3>Morbi mollis lectus et ipsum</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-4 code script isotope-item">
                          <div class="work-wrapper">
                             <a class="fancybox" title="title goes here" href="img/portfolio/3.jpg">
                                  <img src="img/portfolio/3.jpg" class="img-responsive img-rounded">
                             </a>
                             <h3>Morbi mollis lectus et ipsum</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-4 html code isotope-item">
                          <div class="work-wrapper">
                             <a class="fancybox" title="title goes here" href="img/portfolio/4.jpg">
                                  <img src="img/portfolio/4.jpg" class="img-responsive img-rounded">
                             </a>
                             <h3>Morbi mollis lectus et ipsum</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-4 html script isotope-item">
                          <div class="work-wrapper">
                             <a class="fancybox" title="title goes here" href="img/portfolio/5.jpg">
                                  <img src="img/portfolio/5.jpg" class="img-responsive img-rounded">
                             </a>
                             <h3>Morbi mollis lectus et ipsum</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-4 script isotope-item">
                          <div class="work-wrapper">
                             <a class="fancybox" title="title goes here" href="img/portfolio/6.jpg">
                                  <img src="img/portfolio/6.jpg" class="img-responsive img-rounded">
                             </a>
                             <h3>Morbi mollis lectus et ipsum</h3>
                        </div>
                    </div>
               </div>

          </div>

</section>

<!--end of work section-->


<!-- start of team section-->
<section id="team">
     <div class="container">
          <div class="row text-center header">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3>TEAM MEMBERS</h3>
               </div>
               <hr>
          </div>
          <div class="row text-center">
               <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                    <div class="team-wrapper">
                         <div class="team-inner" style="background-image: url(img/team/tuhin.jpg);">
                              <a href="#" class="fa fa-twitter" target="_blank"></a>
                         </div>
                         <div class="description">
                              <h3>TUHIN</h3>
                              <h5>Developer and Designer</h5>
                              <p>Pellentesque elementum dapibus convallis.
Vivamus eget finibus massa.
</p>
                         </div>
                    </div>
               </div>
                <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3"> <div class="team-wrapper">
                         <div class="team-inner" style="background-image: url(img/team/somrat.jpg);">
                              <a href="#" class="fa fa-twitter" target="_blank"></a>
                         </div>
                         <div class="description">
                              <h3>NAZMUL</h3>
                              <h5>Developer and Designer</h5>
                              <p>Pellentesque elementum dapibus convallis.
Vivamus eget finibus massa.
</p>
                         </div>
                    </div></div>
                 <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                      <div class="team-wrapper">
                         <div class="team-inner" style="background-image: url(img/team/asif.jpg);">
                              <a href="#" class="fa fa-twitter" target="_blank"></a>
                         </div>
                         <div class="description">
                              <h3>ASIF</h3>
                              <h5>Developer and Designer</h5>
                              <p>Pellentesque elementum dapibus convallis.
Vivamus eget finibus massa.
</p>
                         </div></div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                       <div class="team-wrapper">
                         <div class="team-inner" style="background-image: url(img/team/minhaz.jpg);">
                              <a href="#" class="fa fa-twitter" target="_blank"></a>
                         </div>
                         <div class="description">
                              <h3>MINHAZ</h3>
                              <h5>Developer and Designer</h5>
                              <p>Pellentesque elementum dapibus convallis.
Vivamus eget finibus massa.
</p>
                         </div></div>
                  </div>
                 </div>

          </div>

</section>


<!--end of close sectin-->
{% endblock %}
