{# templates/baselayout.html.twig #}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Travel Agency {% endblock %}</title>
  </head>

  <body>
    <header>
        <ul>
            <li> <a href=/ > Welcome </a> </li>
            <li> <a href=/circuit > All tours </a> </li>
            <li> <a href=/programmation > Programmed Tours </a> </li>
            <li> <a href=/sign-in> Sign In </a> </li>
            <li> <a href=/sign-up> Sign Up </a> </li>
        </ul>
    </header>
    {% block body %}
    {% endblock %}
    <footer>
        <ul>
            <li> <a href=/contacts > Contacts </a> </li>
            <li> <a href=/legal > Legal Notices </a> </li>
        </ul>
    </footer>
  </body>

</html>
