{# templates/baselayout.html.twig #}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>{% block title %} Travel Agency {% endblock %}</title>
        <!-- Bootstrap -->
            <link rel="stylesheet" href="{{ asset('vendor/twbs/bootstrap/dist/css/bootstrap.css') }}">
            {% block stylesheet %}
            {% endblock %}
  </head>

<body  data-spy="scroll" data-target="#menu-section">

<!--menu section start-->
<div class="navbar navbar-inverse navbar-fixed-top scroll-menu" id="menu-section">
<div class="container">
     <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
     </button>
      <a class="navbar-brand" href="/">INT Travel</a>
    </div>
    <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
      {% block menu %}
      {% endblock %}
    </ul>
    </div>
</div>
</div>
<!--menu section end-->


{% block body %}
{% endblock %}

{% block footpage %}
{% endblock %}


{% block custompage_script %}
{% endblock %}

</body>
</html>
