{# templates/baselayout.html.twig #}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Travel Agency {% endblock %}</title>
  </head>

  <body>
    <header>
        <ul>
            <li> <h1> Accueil </h1> </li>
            <li> <h1> Inscription </h1> </li>
            <li> <h1> Connexion </h1> </li>
        </ul>
    </header>
    {% block body %}
    {% endblock %}
    <footer>
        <ul>
            <li> <h1> Contacts </h1> </li>
            <li> <h1> Mentions Légales </h1> </li>
        </ul>
    </footer>
  </body>

</html>
