{# templates/backoffice-office/backlayout.html.twig #}

{% extends "baselayout.html.twig" %}

{% block menu %}
    <li><a href="/admin/circuit"> Tours Administration </a></li>
    <li><a href="/admin/programmation">Programmation Administration </a></li>
    <li><a href="/"> Vue Utilisateur </a></li>
{% endblock %}
