{# templates/back-office/circuitmodify.html.twig #}

{% extends "back-office/adminlayout.html.twig" %}

{% block title %}{{ parent() }} - Modify circuit{% endblock %}

{% block main %}

  <h1>Modify circuit</h1>

  {% include 'back-office/circuitform.html.twig' %}

{% endblock %} {# main #}
