{# templates/back-office/circuitnew.html.twig #}

{% extends "back-office/adminlayout.html.twig" %}

{% block title %}{{ parent() }} - New circuit{% endblock %}

{% block main %}

  <h1>New circuit</h1>

  {% include 'back-office/circuitform.html.twig' %}

{% endblock %} {# main #}
